<p>component1 works!</p>
<!-- <h1>{{title1}}</h1>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <input type="text" id="name" placeholder="Enter Name" formControlName="user">
    <br><br>
    <input type="password" id="password" placeholder="Enter Password" formControlName="password">
    <br><br>
    <button>Login</button>
</form>
<h1>{{title2}}</h1>
<form #registerform="ngForm" (ngSubmit)="registerUser(registerForm.value)">
  <input type="text" id="firstname" placeholder="Enter First Name" formControlName="fname">
  <br><br>
  <input type="text" id="lastname" placeholder="Enter LastName" formControlName="lname">
  <br><br>
  <input type="email" id="emailid" placeholder="Enter Email ID" formControlName="mail">
  <br><br>
  <input type="password" id="password" placeholder="Enter Password" formControlName="password">
  <br><br>
  <input type="password" id="conpass" placeholder=" Confirm Password" formControlName="conpass">
  <br><br>
  <button>Register</button>
</form> -->